<!DOCTYPE html>
html(lang="en")
	head
		include ../head
	body
		section.home.none
			header.menu
				.container
					a.logo(href="index.html")
						img(src="../assets/img/logo.png", alt="")
					a.toggle(href="#") 
						i.fa.fa-bars
					ul.nav#menu_toggle
						li.item
							a.link(href="index.html")
								|Inicio
		section.blank.color.left#about
			.container
				.title
					h2 ¿Que se necesita para ser aliado?
					p.bold !Hola, bienvenido al Back Stage¡ Acá estamos todos los que hacemos que esta fabulosa experiencia: 1er Desfile de Robot Silleteros sea posible.
					p.bold Queremos que te pongas el carriel, la ruana, el sombrero y seas uno de nuestros aliados estratégicos, con tu apoyo podríamos hacer que más personas se acerquen al mundo de la ciencia y la tecnología, logrando más personas creativas, innovadoras y solucionadoras de los problemas que afrontamos como sociedad. 
					p.bold Para ser un Aliado en la experiencia Desfile de Robot Silleteros , te proponemos 2 opciones:

					ul
						li Que obsequies la construcciones de 8 silletas para alguna familia, para tus colaboradores o allegados; El costo de los materiales de estas silletas es de $200.000. 
						li Que aportes alguno de los siguientes recursos: premios, robots, flores o similares para nuestra fabulosa experiencia. 

					p.bold(style="display:block;float: left;") Ahora que eres un Antioqueño destacado, te vamos a mostrar lo que puedes obtener como recompensa por ser una organización con responsabilidad social empresarial:

					ol
						li La lona por donde desfilarán los robots tendrán impreso los lugares más emblemáticos de Colombia y ahí agregaremos el logo de tu organización, este medio de comunicación trasciende de lo físico a lo digital debido a que cientos de lentes estarán publicando estados, subiendo historias o haciendo streaming del desfile y a la vez posicionando tu marca.
						li En nuestra web estará tu logo como una de nuestras marcas aliadas a la experiencia. También estará tu marca en nuestros comunicados, en las campañas de email marketing y campañas de redes sociales.
						li Las silletas que obsequies tendrán el logo de tu empresa y desfilarán a nombre de tu organización.

					.object
						img(src="../assets/img/robot_1.png", alt="")

		section.slider-content
			.container
				h2 Nuestros aliados
				.slider.multiple-items
					a(href="https://www.mayorca.com.co/" target="_blank").item
						img(src="../assets/img/logo_mayorca.png", alt="Aliado C.C. Mayorca Mare")
						span C.C Mayorca
					.item
						img(src="../assets/img/logo_asga_innovation.png", alt="Aliado Asga Innovation Mare")
						span Asga Innovation
					a(href="https://www.quecodigo.com" target="_blank").item
						img(src="https://www.quecodigo.com/img/logo-imagen.png", alt="Alido QuéCódigo Mare")
						span QuéCódigo
					a(href="https://todoenartes.com/" target="_blank").item
						img(src="../assets/img/logo-todo_en_artes.png", alt="Alido Todo en Artes Mare")
						span Todo en Artes
					a(href="http://i3m.com.co/" target="_blank").item
						img(src="../assets/img/logo-i3m.png", alt="Alido I3M Mare")
						span I3M
					a(href="http://experiencesteam.co/" target="_blank").item
						img(src="../assets/img/logo-experience.png", alt="Alido Todo en Artes Mare")
						span Experience STEAM
					a(href="https://www.ardobot.com/" target="_blank").item
						img(src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.0-1/p200x200/10625070_703304983095781_6715128987015689118_n.jpg?_nc_cat=0&oh=64dc8a2be1db3804384ca7e503720450&oe=5C0490BE", alt="Aliado Ardobot Mare")
						span Ardobot
		footer
			.container
				.copyright
					|Todos los derechos reservados MARE Colombia 2018
				.desing
					|Desarrollado por
					a(href="https://www.quecodigo.com" target="_blank") @QuéCódigo
