<!DOCTYPE html>
html(lang="en")
	head
		include ../head
		link(rel="stylesheet", href="../assets/css/style-silleteros.css?de=10")
	body
		section.home#home
			header.menu
				.container
					a.logo(href="#home")
						img(src="../assets/img/logo.png", alt="")
					a.toggle(href="#") 
						i.fa.fa-bars
					ul.nav#menu_toggle
						li.item
							a.link(href="#home")
								|Inicio
						li.item
							a.link(href="#about")
								|Desfile de silletas
						//li.item
							a.link(href="#inscription")
								|Inscripción
						//li.item
							a.link(href="reglas.html")
								|Reglas
						li.item
							a.link(href="aliados.html" target="_blank")
								|Aliados
						li.item
							a.link(href="#contact")
								|Contacto
			.container
				.content
					//a.button(href="#inscription") Inscríbete
		section.blank.left#about
			img.barras(src="../assets/img/bs_barras.png", alt="")
			.container
				.title(data="animated" data-animated="slideInDown")
					h2 ¿Qué es el desfile <br> de ROBOTS SILLETEROS
					p.bold El Desfile de Robots Silleteros es una experiencia creada para reunir a la familia en torno a la construcción de una silleta y/o robots que luego harán desfilar para escoger las silletas más lindas y creativas, las mejores silletas podrán ganar premios . Además de vivir una verdadera tarde creativa podrás participar de las siguientes actividades:
					ul
						li Trobas en vivo.
						li Simulación de casa de la abuela.
						li Feria Artesanal.

					.object
						img(src="../assets/img/Recurso 22-8.png", alt="")
			img.hr_bottom(src="../assets/img/hr_orange.png", alt="")

		section.blank.right
			img.barras(src="../assets/img/barra_izq.png", alt="")
			.container
				.title(data="animated" data-animated="slideInDown")
					h2 Agenda del día
					p Este agradable evento tendrá los siguientes momentos:
					ul
						h2 Resumen
						li <strong>2:00 p.m. a 5:30 p.m.</strong> Construcción de silletas y/o robots.
						li <strong>5:30 p.m. a 7:00 p.m.</strong> Desfile de robots silleteros.
						li <strong>7:00 p.m. a 7:30 p.m.</strong> Premiación de la silleta ganadora.

					.object.ball
						img(src="../assets/img/Recurso 23-8.png", alt="")
			img.hr_bottom(src="../assets/img/hr_blue.png", alt="")

		//section.blank.left
			img.barras(src="../assets/img/bs_barras.png", alt="")
			.container
				.title(data="animated" data-animated="slideInDown")
					h2 Enfrentamientos
					.puestos
						img(src="../assets/img/players.png", alt="")
			img.hr_bottom(src="../assets/img/hr_orange.png", alt="")

		section.blank.left
			.container
				.title.null(data="animated" data-animated="slideInDown")
					h2 ¿Qué obtienes con <br> la inscripción?
					p Una experiencia única e innovadora que suma a la tradición antioqueña de feria de flores, ciencia y tecnología para todo tipo de público. En MARE nos encantaría tener tu presencia y puedes participar de alguna de estas 3 maneras:
					ul
						li Venir a pasar un rato agradable y disfrutar de toda la programación que hemos preparado para ti es gratis.
						li Asiste con tu familia y arma una silleta, nosotros te prestamos un robot para que hagas el desfile y participes por los premios. <strong>Precio: 25.000 por silleta.</strong>
						li Suma a la creación de la silleta, la construcción de un robot que puedes usar para el desfile y llevarte para tu casa. <strong>Precio: 150.000</strong>
		section.slider-content
			.container
				h2 Nuestros aliados
				.slider.multiple-items
					a(href="https://www.mayorca.com.co/" target="_blank").item
						img(src="../assets/img/logo_mayorca.png", alt="Aliado C.C. Mayorca Mare")
						span C.C Mayorca
					.item
						img(src="../assets/img/logo_asga_innovation.png", alt="Aliado Asga Innovation Mare")
						span Asga Innovation
					a(href="https://www.quecodigo.com" target="_blank").item
						img(src="https://www.quecodigo.com/img/logo-imagen.png", alt="Alido QuéCódigo Mare")
						span QuéCódigo
					a(href="https://todoenartes.com/" target="_blank").item
						img(src="../assets/img/logo-todo_en_artes.png", alt="Alido Todo en Artes Mare")
						span Todo en Artes
					a(href="http://i3m.com.co/" target="_blank").item
						img(src="../assets/img/logo-i3m.png", alt="Alido I3M Mare")
						span I3M
					a(href="http://experiencesteam.co/" target="_blank").item
						img(src="../assets/img/logo-experience.png", alt="Alido Todo en Artes Mare")
						span Experience STEAM
					a(href="https://www.ardobot.com/" target="_blank").item
						img(src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.0-1/p200x200/10625070_703304983095781_6715128987015689118_n.jpg?_nc_cat=0&oh=64dc8a2be1db3804384ca7e503720450&oe=5C0490BE", alt="Aliado Ardobot Mare")
						span Ardobot
				a.button(href="aliados.html") ¿Comó ser un Aliado?
		//include form.pug
		section.blank.spectre.yellow.gallery
			.container
				.title
					h2 Galeria.
				.items

					.gallery_item
						.item
							a(target="_blank" href="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg")
								img(src="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg" alt="Forest")
							.desc Add a description of the image here Add a description of the image here

					.gallery_item
						.item
							a(target="_blank" href="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg")
								img(src="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg" alt="Forest")
							.desc Add a description of the image here

					.gallery_item
						.item
							a(target="_blank" href="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg")
								img(src="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg" alt="Forest")
							.desc Add a description of the image here

					.gallery_item
						.item
							a(target="_blank" href="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg")
								img(src="https://www.icmare.com/include/uploads/0CC04EFF8238.jpeg" alt="Forest")
							.desc Add a description of the image here

				.center
					.content
						a.button(href="#") Ver más.


		section.blank.orange.left
			.container
				.title(data="animated" data-animated="slideInDown")
					h2 ¿Qué piensa <br> nuestro equipo?
					.line
						hr
					.block
						p “Si las personas desarrollan su pensamiento creativo, en un futuro tendremos soluciones innovadoras a los problemas que se presenten en la sociedad.”
						strong Jhon Carlos Corzo Vega
						span Gerencia General
					.block
						p “A mí mis padres me regalaron una educación en valores, habilidades y conocimiento, gracias a ellos hoy tengo una bonita profesión y he alcanzado todas mis metas.”
						strong Jairo Andrés Vélez Pérez
						span Gerente de Operaciones
					.block
						p “La base de una sociedad competitiva es la educación de su primera infancia.”
						strong Deysi Garcia Agudelo
						span Gerente Financiero
					.block
						p “El mundo necesita entender que la clave está en educar desde la creatividad y la exploración. MARE la tiene clara.”
						strong Juliana Henao Rendón
						span Directora Creativa
					.block
						p “El mundo debería premiar a las personas que todos los días hacemos el bien por nuestra sociedad.” 
						strong Daniela González Jaramillo
						span Directora Comercial
					.block
						p “La tecnología ha eliminado las barreras físicas, ha mejorado la eficiencia de las empresas y ha hecho que la sociedad avance.”
						strong Edinson Tique
						span Desarrolador de software
					.block
						p “La imaginación es la llave que abre las puertas a las grandes ideas del mundo, es por esto que en MARE buscamos desarrollar la creatividad de las personas para que con nuestra ayuda lleguen a ser el motor de un mundo nuevo e innovador.”
						strong Cleyber Zambrano
						span Director comercial
					.block
						p “Algunos líderes en el mundo nacieron con muchas habilidades para solucionar problemas y otros se moldearon con el tiempo. MARE desarrolla habilidades innatas y moldea la nueva generación de líderes.”
						strong Myriam Vega
						span Directora Ejecutiva fundación SOCEH (Aliado estratégico)
		section.blank.contact.left#contact
			img.barras(src="../assets/img/bs_barras.png", alt="")
			.container
				.title(data="animated" data-animated="slideInDown")
					h2 Contacto.
					span ¿Te quieres comunicar con nosotros?
				.container
					form(action="include/contact.php" id="contact_form" autocomplete="off")
						.group
							.form-group.size2
								input(type="text" name="lastname" placeholder="Nombre")
								input(type="text" name="email" placeholder="E-Mail")
							.form-group.size2
								input(type="text" name="subject" placeholder="Asunto")
								input(type="text" name="tel" placeholder="Celular")
							.form-group
								textarea(name="text", cols="30", rows="10", placeholder="Mensaje")
						.center
							input(type="submit")

					.footer
						.block
							ul
								li
									strong Llamar:
									|(+57) 311 676 8625 Jairo Vélez <br>
									|(+57) 315 244 5278 Jhon Corzo
								li
									strong Dirección:
									|Cll 70 # 52 - 72 Oficina 508
								li
									strong Medellín
						.left
							img(src="../assets/img/logo_mare_complet.png", alt="")
						.right
							.text
								a(href="https://www.instagram.com/marecolombia" target="_blank") Instagram
								a(href="https://www.fb.com/marecolombia" target="_blank") Facebook
								a(href="https://www.twitter.com/marecolombia" target="_blank") Twitter
		
		footer
			.container
				.copyright
					|Todos los derechos reservados MARE Colombia 2018
				.desing
					|Desarrollado por
					a(href="https://www.quecodigo.com" target="_blank") @QuéCódigo
		
		.load#loader
			img(src="https://www.icmare.com/../assets/img/favicon.png")
