<!DOCTYPE html>
html(lang="en")
	head
		include head
body
	header.menu
		.container
			a.logo(href="index.html")
				img(src="assets/img/logo.png", alt="")
			a.toggle(href="#") 
				i.fa.fa-bars
			ul.nav#menu_toggle
				li.item
					a.link(href="index.html")
						|Inicio
	section.blank.orange.left#reglas
		.person
			img(src="assets/img/player_2.png", alt="")
		.container
			.title
				h2 Reglas
				h3 Descripción de partidos
				p El Mundial de robótica MARE se jugará con 32 equipos de 5 integrantes. En la primera etapa llamada fase de grupos, habrán 8 grupos: 
				ol
					li Mono.
					li Mirlo.
					li Anoa.
					li Addax.
					li Ruiseñor.
					li Rodaballo.
					li Emú.
					li Equidna.
				p En cuanto a los enfrentamientos los equipos deberán ganar cada partido si quieren coronarse campeón, ya que la modalidad será eliminación directa.
				h3 Presentación de robot jugador de fútbol.
				p El robot que se usará durante la competencia es uno de los robots educativos más completos del mercado, posee cuerpo de aluminio, baterías recargables, se controla desde un celular o tablet, posee sensores de distancia, de iluminación e infrarojos, se puede programar muy fácilmente y su diseño le permite jugar fútbol.
				img(src="assets/img/mbot2.png", alt="")
				h3 DINÁMICA DEL JUEGO
				ul
					li Cada partido se jugará en 2 tiempo de cuatro (4) minutos y un descanso entre tiempos de un (1) minuto.
					li Los equipos estarán conformados por 5 integrantes.
					li Durante la fase clasificatoria, cada partido ganado sumará tres puntos para el equipo ganador, en caso de empate cada equipo recibirá un punto.
					li La diferencia de goles a favor o en contra se tomará en cuenta en caso de empate entre dos equipos con los mismos puntos, para pasar a la otra ronda. 
					li A partir de los octavos de final, los partidos que queden empatados se definirán bajo la modalidad penal.

				h3 Superficie y dimensiones del área de juego
				img(src="assets/img/cancha.png", alt="")
				h3 Roles de jugador
				ul
					li Los equipos están conformados por 5 personas de las cuales 2 jugarán el primer tiempo, los otros 2 el segundo tiempo, y el otro rol será el de director técnico o estratega de juego que deberá rotarse en cada nuevo partido, es decir si el equipo juega 5 partidos cada participante debe ser director técnico o estratega. 
					li Los 2 jugadores que no jueguen durante un tiempo tendrán la función de ubicar los robots en las posiciones iniciales al inicio del partido o durante el entre tiempo y cada que se anote un gol o el balón salga de la zona de juego.
					li El rol del director técnico será hacer las estrategias de juego, comunicarse con el árbitro y escoger quienes jugarán en cada tiempo. 
				h3 Roles de los jueces
				ul
					li Supervisar las reglas y  verificar que se encuentre todos los elementos para desarrollar el partido.
					li Hacer cumplir los tiempos establecidos 
					li Definir si es valido o no un gol.
					li Supervisar cada vez que se inicie o se reanude un partido la posición de los robots.
				h3 Faltas durante el  juego
				p Se reconoce como falta durante el juego las siguientes:
				ul
					li Tocar la pelota con elemento diferente al robot.
					li Tocar algún robot en medio de la competencia sin autorización previa del juez. Únicamente al inicio y al final de cada mitad del partido es permitido tocar el robot.
					li Hacer daño a propósito a un robot adversario empleando su propio robot.
					li Insultar o agredir al equipo contrario.
				h3 Penalización de las faltas:
				ul
					li Cada vez que se cometa una falta durante el partido el equipo que recibió la falta podrá realizar un tiro de pena máxima y se le sacará tarjeta amarilla al equipo que cometió dicha falta.
					li La acumulacion de 2 tarjetas amarilla equivale una roja lo cual se expulsara uno de los robots del equipo.
				h3 Tiros penales
				p El tiro de pena máxima se realizará de la siguiente forma:
				ul
					li Para el lanzamiento debe identificarse el robot que realizará el cobro, colocando el balón sobre el punto penal y el robot a cobrar tiene 10 segundos para dominar el balón hasta la portería y anotar, cabe recordar que la portería estará totalmente sola para dicho cobro, si el penal es errado seguirá el juego normalmente sacando el equipo contrario.

				.object.ball
					img(src="assets/img/ball.png", alt="")
	footer
		.container
			.copyright
				|Todos los derechos reservados MARE Colombia 2018
			.desing
				|Desarrollado por
				a(href="https://www.quecodigo.com" target="_blank") @QuéCódigo
